*body,
html,


#tablero{
    position: fixed;
    width: 200px;
    height: 200px;
    margin: auto;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
}

.item{
    border: solid 1px black;
    width: 33.33%;
    height: 33.33%;
    display: inline-block;
    margin: -0.125rem;
    vertical-align: top;
    text-align: center;
    font-size: 40px;
    line-height: 60px;
}

.item.item-cruz::after{
    content: "X";
    color: red;
}

.item.item-circulo::after{
    content: "O";
    color: blue;
}

h1 {
  margin: 0;
  padding: 0;
}
body {
  background: #48E5B1;
  background: -webkit-linear-gradient(to right, #198577, #25F8DD);
  background: linear-gradient(to right, #198577, #25F8DD);
}
div {
  overflow: hidden;
  box-sizing: border-box;
}
.outer-grid {
  position: relative;
  float: left;
  width: 33.3%;
  padding-bottom: 33.3%;
  margin: 0 33.3%;
}
.outer-square {
  position: absolute;
  left: 0;
  top: 0;
  width: 90%;
  height: 90%;
  background: white;
  margin: 50px;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}
.inner-grid {
  width: 33.3%;
  height: 33.3%;
  display: table;
  border: 5px solid #000000;
  border-radius: 5px;
}
.inner-square {
  line-height: 100%;
  font-size: 50px;
  font-weight: bold;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

#output,
h1 {
  margin-top: 15px;
  text-align: center;
  font-size: 30px;
}

.disable {
  pointer-events: none;
}

button {
  outline: 0;
  padding: 10px;
  margin-top: 5px;
  box-shadow: 1px 1px 5px 3px #5D92E7, 2px 2px 3px blue;
  border-radius: 5px;
  border: 5px solid #A13AE8;
}